<%= form_tag("/survey_answer/#{task.id}", method: "post", remote: true) do |f| %>
    
    <% if task.classification == "motivation" %>
        <% finished_count = Answer.answers_by(current_user.id).length %>
        
        <div class="mb-1">
            <% if finished_count == (Task.all.length - current_user.capability_arr.length) %>
                You finished all questions! Thank you! <br>
                Why you answer all questions? What motivated you?
            <% else %>
                You answered <strong><%= finished_count %> questions</strong> in section 2.
            <% end %>
        </div>
        <textarea class="col-12" name="motivation" placeholder="Please write more than 40 letters (required)"></textarea>

    <% elsif task.classification == "insights" %>
        <textarea class="col-12" name="motivation" placeholder="Please write more than 40 letters (required)"></textarea>

    <% elsif task.classification == "code" %>
        <input class="col-12" name="passcode" placeholder="If you type the wrong code, it will be deleted."></textarea>

    <% elsif task.kind == "single" %>
        <div class="options">
            <% task.options_arr.each_with_index do |o, i| %>
                <label><input type='radio' name='answer_value' value='<%= i + 1 %>' /><%= o %></label>
            <% end %>
        </div>

        <% if task.classification != "content" %>
        <div><b>Why?</b> &nbsp;
            <input class="col-9 mb-1" type="text" name="reason" placeholder="Tell us why" />
        </div>
        <% end %>

    <% elsif task.kind == "multiple" %>
        <div>Choose <strong>all</strong> that applies.</div>
        <div class="options">
            <% options = task.options_arr %>
            <input type="hidden" name="multiple" value="<%= options.length %>" />
            <% options.each_with_index do |o, i| %>
                <label><input type='checkbox' name='answer_values[]' value='<%= i + 1 %>' /><%= o %></label>
            <% end %>
        </div>

    <% end %>

        
    <div class="action">
        <input type="hidden" name="time" value="0" />
        <%= submit_tag("Next", :class => "btn") %>
    </div>

<% end %>