    <div>
    You've judged 
    <strong><%= TweetAnswer.answers_by(current_user.id).length %></strong>
    tweets!<br>
    <strong><%= 44 - TweetAnswer.answers_by(current_user.id).length %></strong> 
    tweets to go!
    </div>


    <li class="<%= @task.kind %>">
        <div class="collapsible-header noclick">
            <b>Does this tweet have false dilemma?</b>
            <!-- <i class="material-icons">keyboard_arrow_down</i> -->
        </div>
        <div id="task-1" class="collapsible-body">
            <!--% answer = TweetAnswer.find_by(user_id: current_user.id, tweet_id: @tweet.id) %>
            <% if (answer.nil?) %-->
            <div id="formContainer">
                <%= render partial: "articles/partials/annotate_plain" %>
            </div>
            <div id="highlightContainer" class="hidden"></div>
            <!--% else %>
                <div id="formContainer">
                    <%= render partial: "articles/partials/edit_form", locals: {answer: answer} %>
                </div>

                <div id="highlightContainer">
                <% answer.value_array.each_with_index do |v, i| %>
                    <% if !@task.highlights_arr.include?(v) %>
                        <div class="highlightContainer">
                            <%= render partial: "articles/partials/annotate", locals: {answer: answer, index: i + 1} %>
                        </div>
                    <% end %>
                <% end %>
                </div>

            <% end %-->
        </div>
    </li>
