<% t = Task.find(answer.task_id) %>
<%= form_tag("/update_answer/#{answer.id}", method: "post", remote: true) do |f| %>
    
    <% if t.kind == "option" %>
        <div class="options">
            <% t.options.split(/\s*,\s*/).each do |o| %>
                <% if answer.value == o %>
                    <label><input type='radio' name='answer_value' value='<%= o %>' checked/><%= o %></label>
                <% else %>
                    <label><input type='radio' name='answer_value' value='<%= o %>'/><%= o %></label>
                <% end %>
            <% end %>
        </div>
        <div class="action">
            <input type="hidden" name="time" value="0" />
            <%= submit_tag("Click to change your answer", :class => "btn") %>
        </div>

    <% elsif t.kind == "highlight" %>
        <div>Your answer is highlighted yellow.</div>
        <div class="action">
            <input type="hidden" name="time" value="0" />
            <input type="hidden" name="answer_value" />
            <a class="btn startHighlight mt-1">Click to highlight again</a>
            <%= submit_tag("Submit", :class => "btn hidden submitHighlight") %>
        </div>

    <% elsif t.kind == "verify" %>
        <div class="action">
            <%= hidden_field_tag(:time, "0") %>
            <%= submit_tag("Click to change your answer", :class => "btn") %>
        </div>
    <% end %>
<% end %>