<%= form_tag("/articles/1/create_answer", method: "post", remote: true) do |f| %>
    <input type="hidden" name="task_id" value="<%= current_task.id %>" />

    <% if current_task.kind == "single" %>
        <div class="options">
            <% current_task.options.split(/\s*,\s*/).each_with_index do |o, i| %>
                <label><input type='checkbox' name='answer_value' value='<%= i %>' /><%= o %></label>
            <% end %>
        </div>

    <% elsif current_task.kind == "multiple" %>
        <div>Choose all that applies.</div>
        <div class="options">
            <% options = current_task.options.split(/\s*,\s*/) %>
            <input type="hidden" name="multiple" value="<%= options.length %>" />
            <% options.each_with_index do |o, i| %>
                <label><input type='checkbox' name='answer_values[]' value='<%= i %>' /><%= o %></label>
            <% end %>
        </div>

    <% end %>

    <div class="action">
        <input type="hidden" name="time" value="0" />
        <%= submit_tag("Submit", :class => "btn") %>
    </div>
<% end %>