<%= form_tag("/articles/#{@article.id}/create_answer", method: "post", remote: true) do |f| %>
    <input type="hidden" name="task_id" value="<%= t.id %>" />
    <input type="hidden" name="survey" value="<%= survey %>"/>

    <% if t.kind == "option" %>
        <div class="options">
            <% t.options.split(/\s*,\s*/).each do |o| %>
                <label><input type='radio' name='answer_value' value='<%= o %>' /><%= o %></label>
            <% end %>
        </div>
        <div class="action">
            <input type="hidden" name="time" value="0" />
            <%= submit_tag("Submit", :class => "btn") %>
        </div>

    <% elsif t.kind == "highlight" %>
        <div>Please highlight it.</div>
        <div class="action">
            <input type="hidden" name="time" value="0" />
            <input type="hidden" name="answer_value"/>
            <a class="btn startHighlight mt-1">Start</a>
            <%= submit_tag("Submit", :class => "btn hidden submitHighlight") %>
        </div>

    <% elsif t.kind == "verify" %>
        <div class="action">
            <input type="hidden" name="time" value="0" />
            <%= submit_tag("Submit", :class => "btn") %>
        </div>
    <% end %>
<% end %>