<%= form_tag("/articles/1/create_answer", method: "post", remote: true) do |f| %>
    <input type="hidden" name="task_id" value="<%= @task.id %>" />

    <% if @task.kind == "single" %>
        <div class="options">
            <% @task.options_arr.each_with_index do |o, i| %>
                <label><input type='radio' name='answer_value' value='<%= i + 1 %>' /><%= o %></label>
            <% end %>
        </div>

    <% elsif @task.kind == "multiple" %>
        <div>Choose all that applies.</div>
        <div class="options">
            <% options = @task.options_arr %>
            <input type="hidden" name="multiple" value="<%= options.length %>" />
            <% options.each_with_index do |o, i| %>
                <label><input type='checkbox' name='answer_values[]' value='<%= i + 1 %>' /><%= o %></label>
            <% end %>
        </div>

    <% end %>

    <div class="action">
        <input type="hidden" name="time" value="0" />
        <%= link_to "/task/#{@task.id}/skip_answer", method: :get, class: "btn", remote: true do %> Skip <% end %> &nbsp;
        <%= submit_tag("Submit", :class => "btn") %>
    </div>
<% end %>