<section class="container">
    <div class="list">
        <% @articles.shuffle.each do |a| %>
            <%= link_to "/articles/#{a.id}", method: :get, class: "list-item" do %>
                <h3 class="title"><%= a.title %></h3>
                <p>
                    <strong><%= a.topic %></strong> 
                    <% if a.subtopic.length > 0 %> - <%= a.subtopic %> <% end %><br>
                    <span class="blue"><%= a.metadata %></span>
                </p>
            <% end %>
        <% end %>
    </div>
</section>

<section class="sidebar">
    <div class="box user">
        <div class="row">
            <div class="col-3">
                <%= image_tag ( "user.png" ) %>
            </div>
            <div class="col-9">
                <strong><%= current_user.name %></strong><br>
                Your worker ID: <%= current_user.key %>
            </div>
        </div>
        
    </div>

    <div class="task">
        <ul class="collapsible expandable">
            <li class="active">
                <div class="collapsible-header"><b>Articles you visited</b><i class="material-icons isDone" style="opacity: 1">keyboard_arrow_down</i></div>
                <div class="collapsible-body">
                    <% @articles.take(2).each do |a| %>
                        <%= link_to "/articles/#{a.id}", method: :get, class: "list-item" do %>
                            <h4 class="title"><%= a.title %></h4>
                            <p>
                                <strong><%= a.topic %></strong> 
                                <% if a.subtopic.length > 0 %> - <%= a.subtopic %> <% end %> &nbsp;|&nbsp;
                                <span class="grey"><%= a.metadata %></span>
                            </p>
                        <% end %>
                    <% end %>
                    <div class="text-center"><a>View more</a></div>
                </div>
            </li>
            <li class="active">
                <div class="collapsible-header"><b>Articles finished</b><i class="material-icons isDone" style="opacity: 1">keyboard_arrow_down</i></div>
                <div class="collapsible-body">
                    <div class="text-center">None.</div>
                </div>
            </li>
        </ul>
    </div>
</section>