
<div class="col-2"></div>
    <div class="modal micromodal-slide" id="section2-instruction">
        <div class="modal__overlay" tabindex="-1" data-micromodal-close>
        <div class="modal__container" role="dialog" aria-modal="true" aria-labelledby="modal-1-title">
            <header class="modal__header">
                <h2 class="modal__title" id="modal-1-title">
                    Instruction
                </h2>

                <button class="modal__close" onclick="close_modal2()" aria-label="Close modal" ></button>
            </header>

            <main class="modal__content" id="modal-1-content">
                <p>
                    <strong>Section 3. Post-experiment Survey</strong><br><br>                 
                    In this section, you should complete a questionnaire based on your experience in Section 2.<br>
                    Once you answer all questions, a mturk token for reward will be provided.<br><br>

                    Please answer the questions as <strong class="red">HONESTLY</strong> as possible.<br>
                    Your answer will <strong class="red">NOT AFFECT</strong> the reward.
                </p>

            </main>
        </div>
        </div>
    </div>
    <script>
        function open2_modal() {
            MicroModal.show('section2-instruction');
        }
        open2_modal();
    </script>
<section class="full-height center col-8 noselect">
    <!-- <div class="contribution">
        Your contribution:
        <div class="progress">
            <div style="width: 10%" class="progress-bar"></div>
        </div> 
    </div> -->


    <div class="task mb-1 col-12 down">
        <div class="mt-1">
        <!--If you have no idea what the answer is, <br>
        please choose <strong>"I do not know"</strong> rather than choosing a random option.-->
        Please click the button <b>GO TO SURVEY</b> and complete the survey.<br>
        There will be a <b style="color:red;">CODE</b> at the end of the questionnaire. 
        Submit the code to Amazon Mechanical Turk to get the reward.<br>
        You don't need to come back to this page once you get the token!
        </div>
        <!-- Workder ID should be added at the end of this URL -->
        <% if current_user.group == 1 %>
            <% url = 'https://docs.google.com/forms/d/e/1FAIpQLSfm3j6uRSM7LhN20XJBGFEQUE-lL7nxL7sbppW7PSWvp0eknA/viewform?usp=pp_url&entry.1579193931=' + current_user.key %>
        <% elsif current_user.group == 2 %>
            <% url = 'https://docs.google.com/forms/d/e/1FAIpQLScs4RlvdIc7Kk_rEL3PGy6sno3kAk6m4qqCzXnOF2Bjun5NWg/viewform?usp=pp_url&entry.1579193931=' + current_user.key %>        
        <% end %>
        <% p current_user %>
        <%= link_to url, target: :_blank do %>
            <%= submit_tag "GO TO SURVEY", :class => "btn mt-1 mb-1" %>
        <% end %>


    </div>
        <ul class="collapsible survey">

            <% Surveytask.all.last(8).each_with_index do |t, index| %>
                <% if t.surveyanswers.where(user_id: current_user.id).length == 0 %>

                    <li class="done">
                        <div class="collapsible-header">
                            <%= index + 1 %>. &nbsp;<b><%= t.question %></b>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <div id="task-<%= t.id %>" class="collapsible-body">
                            <%= render partial: "articles/partials/survey_form", locals: {task: t} %>
                        </div>
                    </li>

                <% end %>
            <% end %>

        </ul>

    </div>
</section>

<script>

function close_modal2() {
    MicroModal.close('section2-instruction');
}
</script>
