
<section class="container">
    <div class="article">
    <h1 class="title">
            <%= @article.title %>
        </h1>
        <h4>
            16 Jun 2017, 19:20 | <%= @article.metadata %> | <%= @article.topic %>
        </h4>
        <!-- <p id="articleContent"> -->
            <%= @article.content.html_safe %>
        <!-- </p> -->
    </div>
</section>

<section class="sidebar">
    <!-- <div class="contribution">
        Your contribution:
        <div class="progress">
            <div style="width: 10%" class="progress-bar"></div>
        </div> 
    </div> -->

    <div class="task">
        <ul class="collapsible survey">

            <% @tasks.each do |t| %>
                <% answer_hash = {user_id: current_user.id, article_id: @article.id} %>
                
                <% answer = t.answers.where(answer_hash).first %>
                <% if answer.nil? %>

                    <li class="<%= t.kind %>">
                        <div class="collapsible-header">
                            <b><%= t.question %></b>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <div id="task-<%= t.id %>" class="collapsible-body">
                            <%= render partial: "form", locals: {t: t, survey: true} %>
                        </div>
                    </li>

                <% elsif answer.preference.nil? %>

                    <li class="done">
                        <div class="collapsible-header">
                            <b><%= t.question %></b>
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <div id="task-<%= t.id %>" class="collapsible-body">
                            <%= render partial: "survey_form", locals: {answer: answer} %>
                        </div>
                    </li>

                <% end %>
            <% end %>

        </ul>
 
    </div>
</section>
