
<section class="container">
    <div class="article">
    <h1 class="title">
            <%= @article.title %>
        </h1>
        <h4>
            16 Jun 2017, 19:20 | <%= @article.metadata %> | <%= @article.topic %>
        </h4>
        <!-- <p id="articleContent"> -->
            <%= @article.content.html_safe %>
        <!-- </p> -->
    </div>
</section>

<section class="sidebar">
    <!-- <div class="contribution">
        Your contribution:
        <div class="progress">
            <div style="width: 10%" class="progress-bar"></div>
        </div> 
    </div> -->

    <div class="task">
        <ul class="collapsible">
            <% @tasks.each do |t| %>
            <% answer_hash = {user_id: current_user.id, article_id: @article.id} %>
            <li class="<% if !t.answers.where(answer_hash).empty? %> done <% else %> <%= t.kind %> <% end %>">
                <div class="collapsible-header">
                    <b><%= t.question %></b>
                    <i class="material-icons">keyboard_arrow_down</i>
                </div>
                <div id="task-<%= t.id %>" class="collapsible-body">
                
                <% answer = Answer.find_by(user_id: current_user.id, task_id: t.id) %>
                <% if answer.nil? %>
                    <%= render partial: "form", locals: {t: t, survey: true} %>
                <% else %>
                    <%= render partial: "survey_form", locals: {answer: answer} %>
                <% end %>
                
                </div>
            </li>
            <% end %>
        </ul>
 
    </div>
</section>

